{% extends 'base.html' %}
{% load static %}

{% block content %}
<main>
    <section id="delete">
        <div class="form">
            <h1>You are about to delete your Author's Profile</h1>
            <form id="delete" class="register-form" method="POST" action="{% url 'delete-author' author.pk %}">
                {% csrf_token %}
                <p>Are you sure you want to delete your profile? This action cannot be undone.</p>

                <button type="submit">Confirm</button>
            </form>
        </div>
    </section>
</main>
{% endblock %}
