{% extends 'base.html' %}
{% load static %}

{% block content %}
<main>
    <section id="details">
        <div id="details-wrapper">
            <h2>Author's Profile Details</h2>

            
            <img id="details-img" src="{{ author.image_url|default:'/static/images/default.png' }}" alt="Profile Picture" />

          
            <p id="details-title">{{ author.first_name }} {{ author.last_name }}</p>

            
            <p id="nutrition">Published Posts: {{ author.posts.count }}</p>

            <div id="info-wrapper">
                <div id="details-description">
                    
                    <p>Pets Number: {{ author.pets_number }}</p>

                    
                    {% if author.info %}
                        <p>{{ author.info }}</p>
                    {% endif %}


                    <p>Last Updated Post:
                        {% if author.posts.exists %}
                            <strong>{{ author.posts.last.title }}</strong>
                        {% else %}
                            <strong>N/A</strong>
                        {% endif %}
                    </p>
                </div>


                <div id="action-buttons">
                    <a href="{% url 'edit-author' author.pk %}" id="edit-btn">Edit</a>
                    <a href="{% url 'delete-author' author.pk %}" id="delete-btn">Delete</a>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}
