{% extends 'base.html' %}

{% block title %}Trip Details - Travelers Hub{% endblock %}

{% block content %}
<section id="details">
    <div id="details-wrapper">
        <h2>Trip Details</h2>

        <img src="{{ trip.image_url|default:'/static/images/default-trip.jpg' }}" alt="{{ trip.destination }} img" />

        <p id="details-title">{{ trip.destination }}</p>

        <div id="info-wrapper">
            <div id="details-description">
                <p class="description">
                    {{ trip.start_date|date:"D d M Y" }}
                </p>
                <p>
                    {{ trip.duration }} day/s
                </p>
                <p>
                    {{ trip.summary }}
                </p>
            </div>

            <div id="action-buttons">
                <a href="{% url 'edit_trip' trip.pk %}" id="edit-btn">Edit</a>
                <a href="{% url 'delete_trip' trip.pk %}" id="delete-btn">Delete</a>
            </div>
        </div>
    </div>
</section>
{% endblock %}
